form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}
.label{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: helvetica, sans-serif;
    flex-direction: column;
    gap: 10px;
}
.login{
    display: flex;
    border-radius: 14px;
    border : 2px solid black
}
body{
    font-family: "Winky Sans", sans-serif;
    margin: 0;
    background-color: #b1b8de;
}
h1{
    
    display: flex;
    font-family: 'open sans', sans-serif;
}
header{
    font-family: "Winky Sans", sans-serif;
    padding: 10px;
    font-weight: bold;
    background-color: #000000;
}
header div,
header nav,
header ul{
    display: flex;
    align-items: center;
}
header div{
    margin-left: 30px;
    gap: 2vw;
}
header ul{
    list-style-type: none;
    padding: 0;
    gap: 2vw;

}
#titulo{
    font-size: 20px;
}
footer {
    color: aliceblue;
    background-color: #000000;
    width: 100%;
    padding: 15px 0;
    margin-top: auto;
}
.iconos-footer{
    width: 40px;
    padding: 2px;
}

header a:link{
color: white;
text-decoration: none;

}
header a:visited{
color:white;
text-decoration: none;
}
header a:hover{
text-decoration: underline;
}