html {
    font-family: ui-sans-serif,system-ui,sans-serif;
}

body{background-color: #b1b8de;}

h1,h2{
    font-weight: bold;
    padding: 0px;
}

p{
    font-weight: normal;
    padding: 0px;
}


.max {max-width: 100%;}

.container {
    width: 80%;
    margin:0 auto;
    overflow: hidden;
    background-color: #ffffff; 
    display: flex;  
}

.servicios {    
    display:block;
    margin: 10px;   
    padding:10px;
    width: 100%;
    border: 1px outset rgb(155, 85, 6);
    background-color: rgb(236, 236, 201);
  }

.encabezado {    
    display:block;
    font-family: inherit;
    margin: 10px;   
    padding-left: 10px;
    width: 100%;
    border: 1px outset rgb(155, 85, 6);
    background-color: rgb(255, 255, 255);
  }

.card-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;       
    font-size: 150%;
    padding: 8px;
    color: #850606;
}
