html {
    font-family: ui-sans-serif,system-ui,sans-serif;
}

body{
    background-color: #b1b8de;
    margin: 0;
}

h1,h2{
    font-weight: bold;
    padding: 0px;
}

p{
    font-weight: normal;
    padding: 0px;
}
header{
    font-family: "Winky Sans", sans-serif;
    padding: 10px;
    font-weight: bold;
    background-color: #000000;
}
header div,
header nav,
header ul{
    display: flex;
    align-items: center;
}
header div{
    margin-left: 30px;
    gap: 2vw;
}
header ul{
    list-style-type: none;
    padding: 0;
    gap: 2vw;

}
#titulo{
    font-size: 20px;
}

.max {max-width: 100%;}

.container {
    width: 80%;
    margin:0 auto;
    overflow: hidden;
    background-color: #ffffff; 
    display: flex;  
}

.servicios {    
    display:block;
    margin: 10px;   
    padding:10px;
    width: 100%;
    border: 1px outset rgb(155, 85, 6);
    background-color: rgb(236, 236, 201);
  }

.encabezado {    
    display:block;
    font-family: inherit;
    margin: 10px;   
    padding-left: 10px;
    width: 100%;
    border: 1px outset rgb(155, 85, 6);
    background-color: rgb(255, 255, 255);
  }

.card-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;       
    font-size: 150%;
    padding: 8px;
    color: #850606;
}
a:link{
    color: white;
    text-decoration: none;

}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer {
    color: aliceblue;
    background-color: #000000;
    padding: 15px 0;
    font-family: "Winky Sans", sans-serif;
    font-weight: bold;
}
.iconos-footer{
    padding: 2px;
    width: 40px;
}
